<%- include('header'); -%>
    <form action="/weather" method="post">
        <input id="location" name="address" type="text" placeholder="Location" required>
        <button class="search" type="submit"><i class="bi bi-search"></i></button>
        <label for="currentLocation" name=""currentLocation><i class="bi bi-geo-alt-fill"></i></label>
        <input class="hidden" type="button" id="currentLocation" name="currentLocation" value="">
        <!-- <button id="currentLocation" name="currentLocation"><i class="bi bi-geo-alt-fill"></i></button> -->
    </form>
    
    <h2 class="location">
        <%=location%>
    </h2>
    <div class="card">
        <p class="description">
            <%=description%>
        </p>
        <img src="<%=icon%>" alt="" class="icon">
        <p class="currently">CURRENTLY <br><span>
                <%=temperature%><sup>&#8451;</sup>
            </span></p>
    </div>
    <div class="card">
        <p class="feelslike">FEELSLIKE <br><span>
            <%=feelslike%><sup>&#8451;</sup>
        </span></p>
    </div>
    <div class="card">
        <p class="feelslike">Wind Speed<br><span>
            <%=windSpeed%>kmph
        </span></p>
        <p class="feelslike">Pressure<br><span>
            <%=pressure%>mb
        </span></p>
        <p class="feelslike">Cloud Cover<br><span>
            <%=cloud%>%
        </span></p>
        <p class="feelslike">UV Index<br><span>
            <%=uv%>
        </span></p>
    </div>
    
    <%- include('footer'); -%>